@import "tailwindcss";

:root {
  --background-blue: #1193d4;
  --background-light: #f6f7f8;
  --background-dark: #101c22;
  --background-btn-ressume: #1A202C;

}


@theme inline {
  --color-title: oklch(98.5% 0.002 247.839)
}

body {
  background: var(--background-dark);
  font-family: Inter, "sans-serif";
} 